



/*nav*/

.navbar{
    background-color: rgb(13, 15, 15);
   
}

.nav {
    margin-top: 4px;
    color: black;
}

.navbar-header {
    margin-top: 4px;
}

.header {
    min-height: 70vh;
    min-width: 100%;
    background-image: url(https://thumbs.dreamstime.com/b/nature-header-footer-21354020.jpg);

}

.line {
    margin-top: 200px;
    color: rgb(15, 13, 10);
    
}

.btn {
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.795);
}

.image1 {
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 2%;

}




/*register page*/
.register {
   background-color: cadetblue;
    height: 100%;
    width: 100%;

}

.container {
    background: #d3d7d8;
    border-radius: 10px;
    width: 40%;
    height: 50%;
    margin-top: 5%;
}

.register-sec {
    padding: 50px 30px;
    position: relative;
    margin-top:20% ;

}

.register-sec h2 {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 30px;
    color: #4b3939;
    
}

.register-sec h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #2d2e2e;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto
}

.btn-login {
    background: #323233;
    color: #464343;
    font-weight: 600;
}



/*login page*/
.login-block{
    float:left;
    width:100%;
    padding : 50px 0;
    background-color: cadetblue;}
.login-sec {
    padding: 50px 30px;
    position: relative;
}

.login-sec h2 {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 30px;
    color: #2b2a2a;
   
}

.login-sec h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #c5bcbc;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto
}

.btn-login {
    background: #f5ecec;
    color: #0f0e0e;
    font-weight: 600;
}
.veiw{
    margin-top: 5px;
    width:100px ;
    height:100px ;
}
.vvv{
    color: aliceblue;

}
.dashboard{
height:40% ;
width:60% ;


}
.ccc{
    margin-top: 25%;
    background-color: aqua;
}
.cccc{
   
    background-color: #08088f;
    color: aliceblue;
}

